body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/photo-1551682356-e0ed6286d440.jpg');
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.List {
  height: 100%;
  overflow: auto;
  margin: 10px;
}

.lists-container {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: black;
}

.lists {
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.ListHead {
  display: grid;
  grid-template-columns: 75% 20%;
  justify-content: space-between;
  text-align: start;
}

.ListHead > h3{
  padding-left: 12%;
}

.list-div {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  min-height: 0;
}

.fa-trash {
  margin-top: 5px;
  font-size: 15px;
  color: #ccc7c7
}

.fa-trash :hover {
  font-size: 28px;
  color: #756f6f
}

.input-button {
  color: #6b808c;
  font-size: 15px;
  line-height: 20px;
}

.btn-style {
  height: 20px;
  width: 200px;
  padding: 5%;
  text-align: start;
  background-color: rgb(0, 0, 0, .12);
}
.btn-style:hover{
  background-color: rgba(0, 0, 0, 0.61);
}
.cards {
  background-color: white;
  color: black;
  padding: 0px 10px 0px 0px;
  height: max-content;
  margin: 10px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: space-between;
  text-align: start;
}

.name {
  margin: 0px;
  padding: 5%;
}

.head-name {
  font-size: 25px;
  line-height: 50px;
}

.card-content {
  display: flex;
}

.card-content>input {
  margin: 5px 10px 2px 0px;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  color: white
}

.card-content > input :hover {
  background-color: #fff;
}

.card-content>p {
  margin: 0px;
  border-radius: 2px;
  padding-top: 4px;
  color: #4c4747;
  padding-top: 4px;
  font-weight: 600;
  font-size: 20px;
}

.card>input {
  border: none;
  border-radius: 3px;
  height: 30px;
  width: -webkit-fill-available;
}

.create-list {
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
}

.createList>input {
  border: none;
  border-radius: 3px;
  height: 30px;
}

.extra-content {
  display: flex;
}

.extra-content>input {
  margin: 5px 10px 2px 0px;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  color: white
}

.extra-content>p {
  margin: 0px;
  border-radius: 2px;
  padding-top: 4px;
  color: #4c4747;
  padding-top: 4px;
  font-weight: 600;
  font-size: 20px;
}

.card-div {
  margin: 10px;
}

.card-holder {
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
}

.checklist-popup{
  position: fixed;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.64);
  height: 100%;
  justify-content: center;
  left: 0px;
  overflow-y: auto;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;
}

.animate{
  background-color: rgb(245, 246, 247);
  position: relative;
  z-index: 25;
  border-radius: 2px;
  margin: 48px 48px 48px 48px;
  padding: 48px 48px 48px 48px;
  overflow: scroll;
  height: 100%;
  text-align: left;
}

.checkList-Header{
  display: flex;
  justify-content: space-between;
}

.checkList-Header > h1{
  margin: 0px;
  font-size: 20px;
}

.checkListItem-container{
  text-align: left;
}

.checklist > h2{
  font-size: 18px;
}

.check-item{
  display: flex
}

.check-item > p{
  margin: 0px;
}

.input-button > textarea{
border-radius: 3px;
border: none;
}

#trash{
  color: #353131;
  font-size: 20px;
}

.main-container{
  height: 100vh;
  width: 100vw;
}

.overflow-auto{
  overflow: auto;
}

.add-checklist{
  text-align: end
}

.checklistitem{
  width:  177px;
  margin-top: 15px;
}

.checklistAddBtn{
  border: none;
  box-shadow: none;
  color: #17394d;
  background-color: rgba(9,45,66,.13);
  margin-top: 3%;
  font-weight: 500;
  border-radius: 3px;
  margin-left: 40px;
  padding: 6px 12px;
  font-size: 15px;
}